<span style="font-size: 12pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">CHALLENGE DWE 2022 - ALUNA 28 - PALOMA RIBEIRO</span>

**CRIANDO O BANCO DE DADOS DESAFIO**

In [ ]:
CREATE DATABASE DESAFIO

**CRIANDO A TABELA CIDADE**

<span style="font-size: 12pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:221px;height:99px;"><img src="https://lh6.googleusercontent.com/x2mXqKHUEPl3c9Az-QmeKRumST5byfyJMkfWfTpqIaSj4M8XZq1CylnTFMRPKVU1P_8nQFXq38VNtjStO5LBmOp9NTqh3KwSHeKU_WQMj9IoqDkO4ziq8zazvoxFHYuwJtasejBA" width="221" height="99" style="margin-left:0px;margin-top:0px;"></span></span>

In [1]:
USE [DESAFIO]
GO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='CIDADE' AND xtype='U')

CREATE TABLE CIDADE
(
	id_cidade INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	nome_cidade VARCHAR(60) NOT NULL,
	UF VARCHAR(2) NOT NULL
	);

**CRIANDO A TABELA CLIENTE**

<span style="font-size: 12pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:232px;height:153px;"><img src="https://lh6.googleusercontent.com/vyljuXiw9kHYA8XpRtIxHUXzuAfddXqmcsmPKJxdYwSgizCjOKSxCQctrHLzEs_H3fLjhgkupzfF_wKKM76DSWjynZyYdnwIl3WXU-b0Hk0RcMu1GQqEK1aFGLNT47z2zL1U7bU1" width="232" height="153" style="margin-left:0px;margin-top:0px;"></span></span>

In [2]:
USE [DESAFIO]
GO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='CLIENTE' AND xtype='U')

CREATE TABLE CLIENTE
(
	id_cliente INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	nome_cliente VARCHAR(60) NOT NULL,
	endereco VARCHAR(60) NOT NULL,
	numero VARCHAR(10) NOT NULL,
	id_cidade INT NOT NULL,
	CEP VARCHAR(9) NOT NULL,
	FOREIGN KEY(id_cidade) REFERENCES cidade(id_cidade),
	);

**CRIANDO A TABELA VENDEDORES**

<span style="font-size: 12pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:239px;height:93px;"><img src="https://lh3.googleusercontent.com/26Bwc2bsX1KuSo29CyCycq3ZUl4r2I0T3Rr4VQEfsCpxb4_di6nblV15rXZsXwk_JydG9_ZjvYfGbQ6Ri0QwJZgFDeatDujJxm37X1rd6KfWsuIfGn-ymw6XSOpHEXMWLixBkeMn" width="239" height="93" style="margin-left:0px;margin-top:0px;"></span></span>

In [3]:
USE [DESAFIO]
GO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='VENDEDORES' AND xtype='U')

CREATE TABLE VENDEDORES
(
	id_vendedor INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	nome_vended VARCHAR(60) NOT NULL,
	salario DECIMAL(10, 2)
	);

**CRIANDO A TABELA VENDAS**

<span style="font-size: 12pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:183px;height:129px;"><img src="https://lh6.googleusercontent.com/T0EHuzmpeMtyi1NA6za7CUCz-_0xkYEQEunvfSZYhnHusqDC2pqLESJfSNE4UrfYgwJXySQ2QpRvhMjcie8Ib_s5xAkCFgRf4TAA_bUV6Uqmb_1Y1Hj47WxYNE_DvAOgXTaGRRJr" width="183" height="129" style="margin-left:0px;margin-top:0px;"></span></span>

In [4]:
USE [DESAFIO]
GO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='VENDAS' AND xtype='U')

CREATE TABLE VENDAS
(
	num_vend INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	data_ven DATETIME,
	id_cliente INT NOT NULL,
	id_vended INT NOT NULL,
	status_venda CHAR(1),
	FOREIGN KEY(id_cliente) REFERENCES cliente(id_cliente),
	FOREIGN KEY(id_vended) REFERENCES vendedores(id_vendedor)
	);

**CRIANDO A TABELA UNIDADE**

<span style="font-size: 12pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:231px;height:91px;"><img src="https://lh3.googleusercontent.com/ur_XP-zJ5izm4LYA4os83gfQMzxEa7D8CNNaJkMPEX-7mvmwaYlRIDozGgWeNdXOxAFWuIyiAjbDNF2xca9iraKfhBzmkCrmJ1o8QMMrNTzyBpEYPHOyvsxiWaflrkFcrQF4Jd3y" width="231" height="91" style="margin-left:0px;margin-top:0px;"></span></span>

In [5]:
USE [DESAFIO]
GO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='UNIDADE' AND xtype='U')

CREATE TABLE UNIDADE
(
	id_unidade VARCHAR(3) PRIMARY KEY NOT NULL,
	desc_unidade VARCHAR(25)
	);

**CRIANDO A TABELA CATEGORIA**

<span style="font-size: 12pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:228px;height:85px;"><img src="https://lh4.googleusercontent.com/eZlA7qC7_z1SX2G_J3oatrPwMM6izpjNKDHC72qS1dTD2_j93j6cYXajZq8eNq2ZPBMNPGzC3zWaPk4HhE4Ktems9FL2QsviAI8PII8cX_h3KIvKrshtIGX1VsjWtYgI531MJcre" width="228" height="85" style="margin-left:0px;margin-top:0px;"></span></span>

In [6]:
USE [DESAFIO]
GO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='CATEGORIA' AND xtype='U')

CREATE TABLE CATEGORIA
(
	id_categoria INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	nome_categor VARCHAR(25)
	);

**CRIANDO A TABELA PRODUTOS**

<span style="font-size: 12pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:230px;height:129px;"><img src="https://lh4.googleusercontent.com/e4uhO3-0vNOp8J8IbUFI_Pjt1BbJNQGzDNEUgJNvX0fjLjclqZVEVjp3pRdwBCd7W1QLkDIB1nS-evpYlCVfqiutG8yH43FPhfRHr_DiijfqCFZ3bDTR2y33gtRkk5HL0c75RusW" width="230" height="129" style="margin-left:0px;margin-top:0px;"></span></span>

In [7]:
USE [DESAFIO]
GO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='PRODUTOS' AND xtype='U')

CREATE TABLE PRODUTOS
(
	id_prod INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	nome_prod VARCHAR(50) NOT NULL,
	id_categoria INT NOT NULL,
	id_unidade VARCHAR(3) NOT NULL,
	preco DECIMAL(10, 2) NOT NULL,
	FOREIGN KEY(id_categoria) REFERENCES categoria(id_categoria),
	FOREIGN KEY(id_unidade) REFERENCES unidade(id_unidade)
	);

**CRIANDO A TABELA VENDA\_ITENS**

<span style="font-size: 12pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:222px;height:147px;"><img src="https://lh3.googleusercontent.com/rByEZRPr4-b8PR4tsdW4VnoW8SMsiSfF1LyAiklSmAElOzzWTwzWkMeiYGAM17Pk2GNXKEFGRNvwPr-gkmtEyQ2kKzAOjkCarBZWfMn0OyqIj7kRhthpAievkSSf8zsG5am843oO" width="222" height="147" style="margin-left:0px;margin-top:0px;"></span></span>

In [8]:
USE [DESAFIO]
GO
IF NOT EXISTS
  (SELECT * FROM sysobjects WHERE name='VENDA_ITENS' AND xtype='U')

CREATE TABLE VENDA_ITENS
(
	num_vend INT PRIMARY KEY NOT NULL,
	num_se INT UNIQUE IDENTITY(1,1) NOT NULL,
	id_prod INT NOT NULL,
	qtde DECIMAL(10, 2) NOT NULL,
	val_uni DECIMAL(10, 2) NOT NULL,
	val_tot DECIMAL(10, 2),
	FOREIGN KEY(num_vend) REFERENCES vendas(num_vend),
	FOREIGN KEY(id_prod) REFERENCES produtos(id_prod)
	);